
.logo {
    fill: rgb(237, 37, 23); 
    width: 80px;
}

.movie-record {
	display: inline-block;
    width: 300px;
	border: 10px solid;
	transition: 0.2s ease-out all;
	position: relative;
	overflow: hidden;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.movie-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Category Hover */
.movie-record:hover {
	transform: scale(1.05);
	position: relative;
	z-index: 100;
}