body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: white !important;
}

.logo {
    fill: rgb(237, 37, 23); 
    width: 80px;
}

.clean-link {
    font-size: 18px;
    color: white;
}

.cursor-pointer {
	cursor: pointer;
}

/* Main wrapper for the body / movies container */
.main-container {
    margin-top: 54px; /* This accounts for the fix navbar */ 
}

.movie-record {
	position: relative;
	display: inline-block;
    width: 300px;
    padding: 10px;
	transition: 0.2s ease-out all;
	overflow: hidden;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.movie-poster {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -53px;
}

.movie-poster a {
    text-decoration: none;
}

.movie-text {
    min-height: 450px;
    width: 300px;
    background-color: black;
    padding-top: 200px;
    font-size: 18px;
    text-decoration: none;
    word-wrap: break-word;
}

.movie-hover-text {
	position: relative;
    top: -53px;
    min-height: 53px;
    font-size: 18px;
    text-decoration: none;
    word-wrap: break-word;
    background-color: black;
    opacity: 0;
    width: 100%;
    color: white;
}

.movie-record:hover {
	transform: scale(1.05);
	position: relative;
	z-index: 100;
}

.movie-record:hover .movie-hover-text {
    opacity: 0.8;    
}

.movie-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.movie-table {
    margin: 20px 0px;
}

.movie-plot {
    font-size: 22px;
    margin: 40px 40px;
}

